body {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    gap: 40px;
}

.article-title {
    font-weight: bold;
}

.article-content {
    max-width: 60ch;
}